@use "global" as *;

.c-title {
}

.c-title__en {
  font-size: rem(40);
  color: $dark-blue;
  font-family: $gotu-font-family;

  @include mq(md) {
    font-size: rem(32);
  }
}

.c-title__en::first-letter {
  text-transform: uppercase;
  color: $green;
}

.c-title__jp {
  margin-top: rem(5);
  font-size: rem(12);
  color: $green;

  @include mq(md) {
    margin-top: rem(4);
  }
}

.c-title--white {
  .c-title__en,
  .c-title__en::first-letter,
  .c-title__jp {
    color: $white;
  }

  @include mq(md) {
    .c-title__en,
    .c-title__jp {
      color: $dark-blue;
    }

    .c-title__en::first-letter {
      color: $green;
    }
  }
}
