<footer class="p-footer">
  <div class="p-footer__inner l-inner">
    <div class="p-footer__top">
      <div class="p-footer__logo"><a href=""><img src="./assets/images/common/codeups.svg" alt="CodeUps"></a></div>
      <ul class="p-footer__linkWrap">
        <li class="p-footer__link"><a href=""><img src="./assets/images/common/icon-facebook.svg" alt=""></a></li>
        <li class="p-footer__link"><a href=""><img src="./assets/images/common/icon-instagram.svg" alt=""></a></li>
      </ul>
    </div>
    <div class="p-footer__body">
      <ul class="p-footer__items">
        <li class="p-footer__item">
          <a href="">
            <span class="p-footer__jp">キャンペーン</span>
          </a>
          <ul class="p-footer__spLists">
            <li class="p-footer__spList"><a href="">ライセンス取得</a></li>
            <li class="p-footer__spList"><a href="">貸切体験ダイビング</a></li>
            <li class="p-footer__spList"><a href="">ナイトダイビング</a></li>
          </ul>
        </li>
        <li class="p-footer__item">
          <a href="">
            <span class="p-footer__jp">私たちについて</span>
          </a>
        </li>
        <li class="p-footer__item">
          <a href="">
            <span class="p-footer__jp">ダイビング情報</span>
          </a>
          <ul class="p-footer__spLists">
            <li class="p-footer__spList"><a href="">ライセンス取得</a></li>
            <li class="p-footer__spList"><a href="">貸切体験ダイビング</a></li>
            <li class="p-footer__spList"><a href="">ナイトダイビング</a></li>
          </ul>
        </li>
        <li class="p-footer__item">
          <a href="">
            <span class="p-footer__jp">ブログ</span>
          </a>
        </li>
        <li class="p-footer__item">
          <a href="">
            <span class="p-footer__jp">お客様の声</span>
          </a>
        </li>
        <li class="p-footer__item">
          <a href="">
            <span class="p-footer__jp">料金一覧</span>
          </a>
          <ul class="p-footer__spLists">
            <li class="p-footer__spList"><a href="">ライセンス取得</a></li>
            <li class="p-footer__spList"><a href="">貸切体験ダイビング</a></li>
            <li class="p-footer__spList"><a href="">ナイトダイビング</a></li>
          </ul>
        </li>
        <li class="p-footer__item">
          <a href="">
            <span class="p-footer__jp">よくある質問</span>
          </a>
        </li>
        <li class="p-footer__item">
          <a href="">
            <span class="p-footer__jp">プライバシー<br class="u-hidden-pc">ポリシー</span>
          </a>
        </li>
        <li class="p-footer__item">
          <a href="">
            <span class="p-footer__jp">利用規約</span>
          </a>
        </li>
        <li class="p-footer__item">
          <a href="">
            <span class="p-footer__jp">お問合せ</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="p-footer__copy">Copyright &copy; 2021 - 2023 CodeUps LLC. All Rights Reserved.</div>
  </div>
</footer>