@use "global" as *;

.p-header-menu {
  height: inherit;

  @include mq(md) {
    position: fixed;
    width: 100%;
    max-width: rem(520);
    padding: rem(80) rem(15) rem(50);
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: $green;
    transform: translateX(2000px);
    transition: transform 0.4s;
    z-index: $drawer;
  }
}

.is-drawerActive {
  .p-header-menu {
    @include mq(md) {
      transform: translateX(0px);
    }
  }
}

.p-header-menu__items {
  display: flex;
  height: inherit;
  align-items: center;
  padding: 0;

  @include mq(md) {
    height: rem(600);
    overflow: auto;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.p-header-menu__item {
  height: inherit;
  color: #fff;
  @include mq(md) {
    width: 50%;
    height: initial;
    margin-top: rem(30);
    padding-left: rem(20);
  }
}

.p-header-menu__item + .p-header-menu__item {
  margin-left: min(#{rem(40), 2.7vw});

  @include mq(md) {
    margin-left: initial;
  }
}

.p-header-menu__item > a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0;

  @include mq(md) {
    display: inline-block;
    width: 100%;
    height: initial;
    padding: rem(10) 0;
    text-align: left;
    
  }
}

.p-header-menu__en {
  &::first-letter {
    font-size: rem(18);
    font-family: $gotu-font-family;
    text-transform: uppercase;
  }
  @include mq(md) {
    display: none;
  }
}

.p-header-menu__jp {
  font-size: rem(10);
  @include mq(md) {
    font-size: rem(16);
    font-weight: $bold;
    position: relative;
  }
}

.p-header-menu__jp::before {
  display: none;
  @include mq(md) {
    content: "";
    display: inline-block;
    width: rem(18);
    height: rem(18);
    background: url(../images/common/icon-drawer.svg) no-repeat center center /
      contain;
    position: absolute;
    top: rem(3);
    left: rem(-20);
  }
}

.p-header-menu__spLists {
  display: none;
  @include mq(md) {
    display: block;
  }
}

.p-header-menu__spList {
  display: none;
  @include mq(md) {
    display: block;
    color: $white;
    a {
      padding: rem(10) 0;
      font-size: ren(16);
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
